mainmenu "Smart Garage Door Configuration"

config PROJECT_DEVICE_ID
    string "Device ID"
    default "device_id"
    help
        Unique identifier for this device.

menu "WiFi Configuration"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "YOUR_WIFI_SSID"
        help
            The SSID (name) of your Wi-Fi network.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "YOUR_WIFI_PASSWORD"
        help
            The password for your Wi-Fi network.

    config ESP_MAXIMUM_RETRY
        int "Maximum Connection Retries"
        default 5
        help
            The maximum number of times to retry connecting to Wi-Fi.

    config ESP_WIFI_HOSTNAME
        string "WiFi Hostname"
        default "garage-door-esp32"
        help
            The hostname of the device on the network.

endmenu
